<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334209149084-2aee1dg72vn7db2fg1sck2kp91lsp8ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334209149084-2aee1dg72vn7db2fg1sck2kp91lsp8ev</string>
	<key>API_KEY</key>
	<string>AIzaSyBC7gASZAQg1UZcCU6n9STPOCqeDRgWeIM</string>
	<key>GCM_SENDER_ID</key>
	<string>334209149084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.kousopheap</string>
	<key>PROJECT_ID</key>
	<string>kou-sopheap-8d88f</string>
	<key>STORAGE_BUCKET</key>
	<string>kou-sopheap-8d88f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334209149084:ios:855c76f64d1cbc6eb7a559</string>
	<key>DATABASE_URL</key>
	<string>https://kou-sopheap-8d88f.firebaseio.com</string>
</dict>
</plist>